.navbar {
    background-color: #8a2be2;
    font-family: 'CubicFive10', sans-serif;
    font-size: 11px;
    color: #84e22b;
}

i {
    font-size: 18px;
}

button {
    border-radius: 50%;
    color: #84e22b; 
}

button:hover {
    background-color: #e2b72b;
}

.close:hover {
    background-color: #ff0000;
}