.main {
    background-color: black;
    height: 70%;
    width: 70%;
    color: #84e22b;
}

h2 {
    font-family: 'pix Chicago';
    font-size: 20px;
}

.cursor {
    animation-name: cursor;
    animation-duration: 1120ms;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    from {
        color: #84e22b;
    }

    to {
        color: black;
    }
}

i {
    border: solid 1px;
    font-size: 50px;
}